html {
    height: 100%;
    background-color: #fffefd;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #005958;
}

h1,
h2,
h3 {
    font-size: 2em;
    font-weight: normal;
}

.count-caption {
    color: #5890AD;
    margin: 0;
    padding: 0;


}

.main-container {
    margin: auto;
    height: auto;
    border: blue;
}

.tweet-panel {
    padding: 1em;
}

.tweet-title {
    background-color: #89b5c6;
    width: 70%;
    margin: .5em auto;
    border: 1px solid darkslategrey;
    border-style: groove;
    border-radius: 5px 20px 5px;
    background: #BADA55;
    padding: 1em;
}
.tweet-metadata {

}

.tweet-text {

}